<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Edu Moocs{% endblock titulo %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="/">Edu moocs</a>
            </div>

            <nav class="nav-menu">
                <a href="{% url 'cursos' %}" class="nav-link">Cursos</a>
                <a href="{% url 'contacto' %}" class="nav-link">Contacto</a>
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="nav-link">Log in</a>
                {% endif %}
            </nav>

            <div class = "usuario">

                {% if user.is_authenticated %}

                    {% if es_alumno %}
                        <a href="{% url 'perfil_alumno' %}" class="btn-usuario">MI PERFIL</a>
                    {% elif es_profesor %}
                        <a href="{% url 'perfil_profesor' %}" class="btn-usuario">MI PERFIL</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn-usuario">
                            CAMBIAR USUARIO
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="btn-usuario">INICIAR SESIÓN</a>
                {% endif %}
            </div>
        </div>
    </header>

    {% block contenido %}{% endblock contenido %}

</body>
</html>